<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" 
	"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<!-- MYSQL -->
	<classPathEntry
		location="G:\apache-maven-3.3.9\Repository\mysql\mysql-connector-java\5.1.30\mysql-connector-java-5.1.30.jar" />

	<context id="vue-admin-boot" targetRuntime="MyBatis3">

		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"></plugin>
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>

		<!-- 增加Lombok 插件处理 -->
		<plugin type="com.angzk.common.mybatis.plugin.LombokPlugin"></plugin>

		<!-- 增加分页处理 -->
		<plugin type="com.angzk.common.mybatis.plugin.MysqlPaginationPlugin"></plugin>

		<commentGenerator type="com.angzk.common.mybatis.plugin.MyCommentGenerator">
			<property name="suppressDate" value="true" />
		</commentGenerator>
		<!-- MYSQL -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			userId="root" password="1234" connectionURL="jdbc:mysql://localhost:3306/sys_vue_auth" />

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- bean 实体类 生成包 -->
		<javaModelGenerator targetPackage="com.angzk.dao.model"
			targetProject="./src/main/java/" />
		<!-- mybatis Sql配置文件 -->
		<sqlMapGenerator targetPackage="com.angzk.dao.mapper.xml"
			targetProject="./src/main/java/" />
		<!-- mapper Dao接口类 -->
		<javaClientGenerator targetPackage="com.angzk.dao.mapper"
			targetProject="./src/main/java/" type="XMLMAPPER" />

		<!-- <table tableName="sys_user" domainObjectName="SysUser"> -->
		<!-- <columnOverride column="create_time" javaType="java.lang.String"></columnOverride> -->
		<!-- <columnOverride column="modify_time" javaType="java.lang.String"></columnOverride> -->
		<!-- <columnOverride column="last_login_time" javaType="java.lang.String"></columnOverride> -->
		<!-- </table> -->

		<table tableName="sys_role" domainObjectName="SysRole">
			<columnOverride column="create_time" javaType="java.lang.String"></columnOverride>
			<columnOverride column="modify_time" javaType="java.lang.String"></columnOverride>
		</table>
		<!-- <table tableName="sys_menu" domainObjectName="SysMenu"> -->
		<!-- <columnOverride column="create_time" javaType="java.lang.String"></columnOverride> -->
		<!-- <columnOverride column="modify_time" javaType="java.lang.String"></columnOverride> -->
		<!-- </table> -->


	</context>

</generatorConfiguration>

